{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 mx-auto card p-4 shadow-sm mt-4 text-center">
    <h3 class="text-danger mb-3">⚠️ Confirm Account Deletion</h3>
    <p>Are you sure you want to delete Account <strong>{{ acc.account_no }}</strong>?</p>
    <p>Balance: ₹{{ "%.2f"|format(acc.balance) }}</p>

    {% if acc.balance > 0 %}
    <div class="alert alert-warning mt-3">
        ⚠️ This account still has funds. Please withdraw or transfer before deleting.
    </div>
    <a href="/delete_account/{{ acc.account_id }}" class="btn btn-outline-secondary mt-2 w-100">⬅ Back</a>
    {% else %}
    <form method="POST" action="/delete_confirmed/{{ acc.account_id }}">
        <button type="submit" class="btn btn-danger w-100">🗑️ Yes, Delete Account</button>
    </form>

    <a href="/dashboard" class="btn btn-outline-secondary mt-3 w-100">⬅ Cancel</a>
    {% endif %}
</div>
{% endblock %}